@font-face {
  font-family: 'Tiempos';
  src: url('/fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  border: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-size: var(--fs-base);
}

body {
  overflow-x: hidden;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--ff-sans);
  line-height: var(--lh-body);
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
  background-color: var(--c-theme);
  color: var(--c-default);
  padding-top: 50px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}

::selection {
  color: var(--c-theme);
  background-color: var(--c-highlight);
}

svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline-color: var(--c-highlight);
  outline-offset: 0.2rem;
}

section + section {
  margin-top: 120px;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--c-default);
  font: inherit;
  display: inline-flex;
  align-items: center;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
}
