.container {
  /* max-width: 1260px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-small {
  font-size: var(--fs-small);
}

h1,
h2,
.fs-title {
  font-size: var(--fs-title);
}

.ff-display {
  font-family: var(--ff-display);
}

.c-default {
  color: var(--c-default);
}

.c-default-light {
  color: var(--c-default-light);
}

.aspect-ratio {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(100% * 9 / 16);
  }

  &-item {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &.size-1-1 {
    padding-top: 50%;
  }
}
