:root {
  --ff-body: sans-serif;
  --lh-body: 1.2;
  --fs-title: 17px;
  --fs-body: 15px;
  --fs-small: 13px;
  --c-theme: #fff;
  --c-default: #101010;
  --c-default-light: #666;
}

@media (--t) {
  :root {
    --fs-title: 17px;
    --fs-body: 15px;
    --fs-small: 13px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-theme: #101010;
    --c-default: #fff;
    --c-default-light: #999;
  }
}
