:root {
  --c-theme: #fff;
  --c-highlight: #1559d8;
  --c-default: rgba(0, 0, 0, 0.9);
  --c-default-light: rgba(0, 0, 0, 0.5);
  --c-default-hide: rgba(0, 0, 0, 0.12);
  --c-default-smoke: rgba(0, 0, 0, 0.05);

  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Tiempos', serif;

  --fw-normal: 400;
  --fw-bold: 500;

  --fs-base: 16px;
  --fs-small: 0.92rem;
  --fs-body: 1rem;
  --fs-title: 1.1rem;

  --lh-body: 1.46;

  --gap: 24px;
  --finger: 46px;
}

@media (--t) {
  :root {
    --fs-base: 18px;
    --gap: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-theme: rgb(23, 24, 35);
    --c-highlight: #42ffcc;
    --c-default: rgba(255, 255, 255, 0.96);
    --c-default-light: rgba(180, 180, 200, 0.65);
    --c-default-hide: rgba(180, 180, 200, 0.12);
    --c-default-smoke: rgba(180, 180, 200, 0.1);
  }
}
