.container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 100%;

  &:global(.--16-9) {
    padding-top: calc(100% * 9 / 16);
  }

  &:global(.--4-3) {
    padding-top: calc(100% * 3 / 4);
  }

  > * {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }
}
