.external {
  position: sticky;
  top: 50px;
}

.link {
  display: flex;
  align-items: center;
  height: var(--finger);
  font-size: var(--fs-small);
  color: var(--c-default-light);
  border-top: 1px solid var(--c-default-hide);

  &:hover {
    color: var(--c-highlight);
  }
}

.icon {
  margin-left: auto;
}
