.figure {
  img {
    transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
      -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  }
  &:hover picture img {
    transform: scale(1.03) translateZ(0);
  }
}

.caption {
  margin-top: 16px;
}
