.html {
  > * + * {
    margin-top: 32px;
  }

  a {
    text-decoration-line: underline;
    text-decoration-color: var(--c-default-light);
  }

  a:hover {
    color: var(--c-highlight);
    text-decoration-color: currentColor;
  }

  ul,
  ol {
    padding-left: 1em;
  }
}
