.photo {
}

.caption {
  margin-top: 16px;
}

.photo-hover picture img {
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}

.photo-hover:hover picture img {
  transform: scale(1.03) translateZ(0);
}
