@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply underline decoration-zinc-300 decoration-2 underline-offset-2
        hover:text-blue-700 hover:decoration-blue-700
        dark:decoration-zinc-600 dark:hover:text-blue-500 dark:hover:decoration-blue-500;
    }

    a,
    button {
        @apply transition;
    }

    [role="button"],
    button {
        @apply cursor-default
    }

    strong, b {
        @apply font-semibold;
    }
}
