@import "tailwindcss";

@theme {
  --font-family-sans: var(--font-default);

  --color-default: var(--color-zinc-800);
  --color-mute: var(--color-zinc-500);
}

a {
  @apply underline hover:decoration-2 transition;
}

.shadow {
  @apply shadow-[4px_4px_0_#00000010];
}
