.button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--c-theme);
  background-color: var(--c-default);
  text-decoration: none;

  &:hover {
    background-color: var(--c-highlight);
  }

  * + * {
    margin-left: 8px;
  }
}
