.post {
  transition: 0.2s;

  &:global(.open) {
    padding: 32px;
    border-left: 2px solid var(--c-highlight);
    background-color: var(--c-default-smoke);
  }
}

.switch {
  color: inherit;
}

.html {
  composes: content from './html.module.css';
}
