.header {
  position: sticky;
  top: 50px;
}

.button {
  width: 100%;
  font-size: var(--fs-body);
  font-weight: var(--fw-normal);
  text-align: left;

  span {
    margin-right: 8px;
  }
}

.link {
  display: flex;
  align-items: center;
  height: var(--finger);
  color: var(--c-default);

  &:hover {
    color: var(--c-highlight);
  }

  &:global(.active) {
    color: var(--c-default-light);
  }
}
