.post {
  border-top: 1px solid var(--c-default-hide);
  padding-top: 24px;
  padding-bottom: 24px;
}

.title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
}

.desc {
  margin-top: 4px;
  color: var(--c-default-light);
}

.meta {
  margin-top: 4px;
  color: var(--c-default-light);
}

.extra {
  margin-top: 32px;
}
