:root {
  --c-theme: #fff;
  --c-highlight: #1559d8;
  --c-default: rgba(0, 0, 0, 0.9);
  --c-default-light: rgba(0, 0, 0, 0.5);
  --c-default-hide: rgba(0, 0, 0, 0.12);
  --c-default-smoke: rgba(0, 0, 0, 0.05);

  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Tiempos', serif;

  --fw-normal: 400;
  --fw-bold: 600;

  --fs-base: 16px;
  --fs-small: 0.92rem;
  --fs-large: 1.2rem;
  --fs-body: 1rem;
  --fs-title: 1.2rem;

  --lh-body: 1.46;

  --gap: 32px;
  --finger: 46px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-theme: #111;
    --c-highlight: #fff700;
    --c-default: rgba(255, 255, 255, 0.9);
    --c-default-light: rgba(180, 180, 200, 0.65);
    --c-default-hide: rgba(180, 180, 200, 0.12);
    --c-default-smoke: rgba(180, 180, 200, 0.1);
  }
}

@media (--t) {
  :root {
    --fs-base: 18px;
    --gap: 40px;
  }
}

/*@font-face {
  font-family: 'Tiempos';
  src: url('/fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}*/

* {
  margin: 0;
  padding: 0;
  border: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-family: var(--ff-sans);
  line-height: var(--lh-body);
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
  background-color: var(--c-theme);
  color: var(--c-default);
  padding-top: 50px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}

::selection {
  color: var(--c-theme);
  background-color: var(--c-highlight);
}

svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline-color: var(--c-highlight);
  outline-offset: 0.2rem;
}

section + section {
  margin-top: 60px;

  @media (--t) {
    & {
      margin-top: 80px;
    }
  }
}

button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--c-default);
  font: inherit;
  display: inline-flex;
  align-items: center;
}
