:root {
  --c-theme: #fff;
  --c-highlight: #1559d8;
  --c-default: rgba(0, 0, 0, 0.9);
  --c-default-light: rgba(0, 0, 0, 0.5);
  --c-default-hide: rgba(0, 0, 0, 0.12);
  --c-default-smoke: rgba(0, 0, 0, 0.05);

  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Tiempos', serif;

  --fw-normal: 400;
  --fw-bold: 500;

  --fs-base: 16px;
  --fs-small: 0.92rem;
  --fs-body: 1rem;
  --fs-title: 1.1rem;

  --lh-body: 1.46;

  --gap: 24px;
  --finger: 46px;
}

@media (--t) {
  :root {
    --fs-base: 18px;
    --gap: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-theme: #111;
    --c-highlight: yellow;
    --c-default: rgba(255, 255, 255, 0.9);
    --c-default-light: rgba(180, 180, 200, 0.65);
    --c-default-hide: rgba(180, 180, 200, 0.12);
    --c-default-smoke: rgba(180, 180, 200, 0.1);
  }
}

/*@font-face {
  font-family: 'Tiempos';
  src: url('/fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}*/

* {
  margin: 0;
  padding: 0;
  border: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-family: var(--ff-sans);
  line-height: var(--lh-body);
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
  background-color: var(--c-theme);
  color: var(--c-default);
  padding-top: 50px;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
}

::selection {
  color: var(--c-theme);
  background-color: var(--c-highlight);
}

svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline-color: var(--c-highlight);
  outline-offset: 0.2rem;
}

section + section {
  margin-top: 120px;
}

button {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--c-default);
  font: inherit;
  display: inline-flex;
  align-items: center;
}


/* Raster grid subsystem (rsms.me/raster) */
r-grid {
  display: grid;
  --grid-tc: repeat(6, 1fr);
  grid-template-columns: var(--grid-tc);
  --grid-cs: 1; /* column start */
  --grid-ce: -1; /* column end */
  grid-gap: var(--gap);
}

/* r-cell -- cell or column */
r-grid > r-cell {
  display: block;
  appearance: none;
  -webkit-appearance: none;
}

r-grid[columns='1'] {
  --grid-tc: repeat(1, 1fr);
}
r-grid[columns='2'] {
  --grid-tc: repeat(2, 1fr);
}
r-grid[columns='3'] {
  --grid-tc: repeat(3, 1fr);
}
r-grid[columns='4'] {
  --grid-tc: repeat(4, 1fr);
}
r-grid[columns='5'] {
  --grid-tc: repeat(5, 1fr);
}
r-grid[columns='6'] {
  --grid-tc: repeat(6, 1fr);
}
r-grid[columns='7'] {
  --grid-tc: repeat(7, 1fr);
}
r-grid[columns='8'] {
  --grid-tc: repeat(8, 1fr);
}
r-grid[columns='9'] {
  --grid-tc: repeat(9, 1fr);
}
r-grid[columns='10'] {
  --grid-tc: repeat(10, 1fr);
}
r-grid[columns='11'] {
  --grid-tc: repeat(11, 1fr);
}
r-grid[columns='12'] {
  --grid-tc: repeat(12, 1fr);
}

/* span=start... */
r-grid > r-cell[span^='1'] {
  --grid-cs: 1;
}
r-grid > r-cell[span^='2'] {
  --grid-cs: 2;
}
r-grid > r-cell[span^='3'] {
  --grid-cs: 3;
}
r-grid > r-cell[span^='4'] {
  --grid-cs: 4;
}
r-grid > r-cell[span^='5'] {
  --grid-cs: 5;
}
r-grid > r-cell[span^='6'] {
  --grid-cs: 6;
}
r-grid > r-cell[span^='7'] {
  --grid-cs: 7;
}
r-grid > r-cell[span^='8'] {
  --grid-cs: 8;
}
r-grid > r-cell[span^='9'] {
  --grid-cs: 9;
}
r-grid > r-cell[span^='10'] {
  --grid-cs: 10;
}
r-grid > r-cell[span^='11'] {
  --grid-cs: 11;
}
r-grid > r-cell[span^='12'] {
  --grid-cs: 12;
}

/* span=...+width, span=...-end */
r-grid > r-cell[span$='+1'],
r-grid > r-cell[span='1'] {
  --grid-ce: 1;
}
r-grid > r-cell[span$='+2'],
r-grid > r-cell[span$='-1'],
r-grid > r-cell[span='2'] {
  --grid-ce: 2;
}
r-grid > r-cell[span$='+3'],
r-grid > r-cell[span$='-2'],
r-grid > r-cell[span='3'] {
  --grid-ce: 3;
}
r-grid > r-cell[span$='+4'],
r-grid > r-cell[span$='-3'],
r-grid > r-cell[span='4'] {
  --grid-ce: 4;
}
r-grid > r-cell[span$='+5'],
r-grid > r-cell[span$='-4'],
r-grid > r-cell[span='5'] {
  --grid-ce: 5;
}
r-grid > r-cell[span$='+6'],
r-grid > r-cell[span$='-5'],
r-grid > r-cell[span='6'] {
  --grid-ce: 6;
}
r-grid > r-cell[span$='+7'],
r-grid > r-cell[span$='-6'],
r-grid > r-cell[span='7'] {
  --grid-ce: 7;
}
r-grid > r-cell[span$='+8'],
r-grid > r-cell[span$='-7'],
r-grid > r-cell[span='8'] {
  --grid-ce: 8;
}
r-grid > r-cell[span$='+9'],
r-grid > r-cell[span$='-8'],
r-grid > r-cell[span='9'] {
  --grid-ce: 9;
}
r-grid > r-cell[span$='+10'],
r-grid > r-cell[span$='-9'],
r-grid > r-cell[span='10'] {
  --grid-ce: 10;
}
r-grid > r-cell[span$='+11'],
r-grid > r-cell[span$='-10'],
r-grid > r-cell[span='11'] {
  --grid-ce: 11;
}
r-grid > r-cell[span$='+12'],
r-grid > r-cell[span$='-11'],
r-grid > r-cell[span='12'] {
  --grid-ce: 12;
}
r-grid > r-cell[span$='-12'] {
  --grid-ce: 13;
}

/* connect vars */
r-grid > r-cell[span] {
  grid-column-end: span var(--grid-ce);
}
r-grid > r-cell[span*='+'],
r-grid > r-cell[span*='-'],
r-grid > r-cell[span*='..'] {
  grid-column-start: var(--grid-cs);
}
r-grid > r-cell[span*='-'],
r-grid > r-cell[span*='..'] {
  grid-column-end: var(--grid-ce);
}
r-grid > r-cell[span='row'] {
  grid-column: 1 / -1;
}

@media (--t) {
  r-grid[columns-t='1'] {
    --grid-tc: repeat(1, 1fr);
  }
  r-grid[columns-t='2'] {
    --grid-tc: repeat(2, 1fr);
  }
  r-grid[columns-t='3'] {
    --grid-tc: repeat(3, 1fr);
  }
  r-grid[columns-t='4'] {
    --grid-tc: repeat(4, 1fr);
  }
  r-grid[columns-t='5'] {
    --grid-tc: repeat(5, 1fr);
  }
  r-grid[columns-t='6'] {
    --grid-tc: repeat(6, 1fr);
  }
  r-grid[columns-t='7'] {
    --grid-tc: repeat(7, 1fr);
  }
  r-grid[columns-t='8'] {
    --grid-tc: repeat(8, 1fr);
  }
  r-grid[columns-t='9'] {
    --grid-tc: repeat(9, 1fr);
  }
  r-grid[columns-t='10'] {
    --grid-tc: repeat(10, 1fr);
  }
  r-grid[columns-t='11'] {
    --grid-tc: repeat(11, 1fr);
  }
  r-grid[columns-t='12'] {
    --grid-tc: repeat(12, 1fr);
  }

  /* span-t=start... */
  r-grid > r-cell[span-t^='1'] {
    --grid-cs: 1;
  }
  r-grid > r-cell[span-t^='2'] {
    --grid-cs: 2;
  }
  r-grid > r-cell[span-t^='3'] {
    --grid-cs: 3;
  }
  r-grid > r-cell[span-t^='4'] {
    --grid-cs: 4;
  }
  r-grid > r-cell[span-t^='5'] {
    --grid-cs: 5;
  }
  r-grid > r-cell[span-t^='6'] {
    --grid-cs: 6;
  }
  r-grid > r-cell[span-t^='7'] {
    --grid-cs: 7;
  }
  r-grid > r-cell[span-t^='8'] {
    --grid-cs: 8;
  }
  r-grid > r-cell[span-t^='9'] {
    --grid-cs: 9;
  }
  r-grid > r-cell[span-t^='10'] {
    --grid-cs: 10;
  }
  r-grid > r-cell[span-t^='11'] {
    --grid-cs: 11;
  }
  r-grid > r-cell[span-t^='12'] {
    --grid-cs: 12;
  }

  /* span-t=...+width, span-t=...-end */
  r-grid > r-cell[span-t$='+1'],
  r-grid > r-cell[span-t='1'] {
    --grid-ce: 1;
  }
  r-grid > r-cell[span-t$='+2'],
  r-grid > r-cell[span-t$='-1'],
  r-grid > r-cell[span-t='2'] {
    --grid-ce: 2;
  }
  r-grid > r-cell[span-t$='+3'],
  r-grid > r-cell[span-t$='-2'],
  r-grid > r-cell[span-t='3'] {
    --grid-ce: 3;
  }
  r-grid > r-cell[span-t$='+4'],
  r-grid > r-cell[span-t$='-3'],
  r-grid > r-cell[span-t='4'] {
    --grid-ce: 4;
  }
  r-grid > r-cell[span-t$='+5'],
  r-grid > r-cell[span-t$='-4'],
  r-grid > r-cell[span-t='5'] {
    --grid-ce: 5;
  }
  r-grid > r-cell[span-t$='+6'],
  r-grid > r-cell[span-t$='-5'],
  r-grid > r-cell[span-t='6'] {
    --grid-ce: 6;
  }
  r-grid > r-cell[span-t$='+7'],
  r-grid > r-cell[span-t$='-6'],
  r-grid > r-cell[span-t='7'] {
    --grid-ce: 7;
  }
  r-grid > r-cell[span-t$='+8'],
  r-grid > r-cell[span-t$='-7'],
  r-grid > r-cell[span-t='8'] {
    --grid-ce: 8;
  }
  r-grid > r-cell[span-t$='+9'],
  r-grid > r-cell[span-t$='-8'],
  r-grid > r-cell[span-t='9'] {
    --grid-ce: 9;
  }
  r-grid > r-cell[span-t$='+10'],
  r-grid > r-cell[span-t$='-9'],
  r-grid > r-cell[span-t='10'] {
    --grid-ce: 10;
  }
  r-grid > r-cell[span-t$='+11'],
  r-grid > r-cell[span-t$='-10'],
  r-grid > r-cell[span-t='11'] {
    --grid-ce: 11;
  }
  r-grid > r-cell[span-t$='+12'],
  r-grid > r-cell[span-t$='-11'],
  r-grid > r-cell[span-t='12'] {
    --grid-ce: 12;
  }
  r-grid > r-cell[span-s$='-12'] {
    --grid-ce: 13;
  }

  /* connect vars */
  r-grid > r-cell[span-s] {
    grid-column-end: span var(--grid-ce);
  }
  r-grid > r-cell[span-t*='+'],
  r-grid > r-cell[span-t*='-'],
  r-grid > r-cell[span-t*='..'] {
    grid-column-start: var(--grid-cs);
  }
  r-grid > r-cell[span-t*='-'],
  r-grid > r-cell[span-t*='..'] {
    grid-column-end: var(--grid-ce);
  }
  r-grid > r-cell[span-t='row'] {
    grid-column: 1 / -1;
  }
}

@media (--d) {
  r-grid[columns-d='1'] {
    --grid-tc: repeat(1, 1fr);
  }
  r-grid[columns-d='2'] {
    --grid-tc: repeat(2, 1fr);
  }
  r-grid[columns-d='3'] {
    --grid-tc: repeat(3, 1fr);
  }
  r-grid[columns-d='4'] {
    --grid-tc: repeat(4, 1fr);
  }
  r-grid[columns-d='5'] {
    --grid-tc: repeat(5, 1fr);
  }
  r-grid[columns-d='6'] {
    --grid-tc: repeat(6, 1fr);
  }
  r-grid[columns-d='7'] {
    --grid-tc: repeat(7, 1fr);
  }
  r-grid[columns-d='8'] {
    --grid-tc: repeat(8, 1fr);
  }
  r-grid[columns-d='9'] {
    --grid-tc: repeat(9, 1fr);
  }
  r-grid[columns-d='10'] {
    --grid-tc: repeat(10, 1fr);
  }
  r-grid[columns-d='11'] {
    --grid-tc: repeat(11, 1fr);
  }
  r-grid[columns-d='12'] {
    --grid-tc: repeat(12, 1fr);
  }

  /* span-d=start... */
  r-grid > r-cell[span-d^='1'] {
    --grid-cs: 1;
  }
  r-grid > r-cell[span-d^='2'] {
    --grid-cs: 2;
  }
  r-grid > r-cell[span-d^='3'] {
    --grid-cs: 3;
  }
  r-grid > r-cell[span-d^='4'] {
    --grid-cs: 4;
  }
  r-grid > r-cell[span-d^='5'] {
    --grid-cs: 5;
  }
  r-grid > r-cell[span-d^='6'] {
    --grid-cs: 6;
  }
  r-grid > r-cell[span-d^='7'] {
    --grid-cs: 7;
  }
  r-grid > r-cell[span-d^='8'] {
    --grid-cs: 8;
  }
  r-grid > r-cell[span-d^='9'] {
    --grid-cs: 9;
  }
  r-grid > r-cell[span-d^='10'] {
    --grid-cs: 10;
  }
  r-grid > r-cell[span-d^='11'] {
    --grid-cs: 11;
  }
  r-grid > r-cell[span-d^='12'] {
    --grid-cs: 12;
  }

  /* span-d=...+width, span-d=...-end */
  r-grid > r-cell[span-d$='+1'],
  r-grid > r-cell[span-d='1'] {
    --grid-ce: 1;
  }
  r-grid > r-cell[span-d$='+2'],
  r-grid > r-cell[span-d$='-1'],
  r-grid > r-cell[span-d='2'] {
    --grid-ce: 2;
  }
  r-grid > r-cell[span-d$='+3'],
  r-grid > r-cell[span-d$='-2'],
  r-grid > r-cell[span-d='3'] {
    --grid-ce: 3;
  }
  r-grid > r-cell[span-d$='+4'],
  r-grid > r-cell[span-d$='-3'],
  r-grid > r-cell[span-d='4'] {
    --grid-ce: 4;
  }
  r-grid > r-cell[span-d$='+5'],
  r-grid > r-cell[span-d$='-4'],
  r-grid > r-cell[span-d='5'] {
    --grid-ce: 5;
  }
  r-grid > r-cell[span-d$='+6'],
  r-grid > r-cell[span-d$='-5'],
  r-grid > r-cell[span-d='6'] {
    --grid-ce: 6;
  }
  r-grid > r-cell[span-d$='+7'],
  r-grid > r-cell[span-d$='-6'],
  r-grid > r-cell[span-d='7'] {
    --grid-ce: 7;
  }
  r-grid > r-cell[span-d$='+8'],
  r-grid > r-cell[span-d$='-7'],
  r-grid > r-cell[span-d='8'] {
    --grid-ce: 8;
  }
  r-grid > r-cell[span-d$='+9'],
  r-grid > r-cell[span-d$='-8'],
  r-grid > r-cell[span-d='9'] {
    --grid-ce: 9;
  }
  r-grid > r-cell[span-d$='+10'],
  r-grid > r-cell[span-d$='-9'],
  r-grid > r-cell[span-d='10'] {
    --grid-ce: 10;
  }
  r-grid > r-cell[span-d$='+11'],
  r-grid > r-cell[span-d$='-10'],
  r-grid > r-cell[span-d='11'] {
    --grid-ce: 11;
  }
  r-grid > r-cell[span-d$='+12'],
  r-grid > r-cell[span-d$='-11'],
  r-grid > r-cell[span-d='12'] {
    --grid-ce: 12;
  }
  r-grid > r-cell[span-d$='-12'] {
    --grid-ce: 13;
  }

  /* connect vars */
  r-grid > r-cell[span-d] {
    grid-column-end: span var(--grid-ce);
  }
  r-grid > r-cell[span-d*='+'],
  r-grid > r-cell[span-d*='-'],
  r-grid > r-cell[span-d*='..'] {
    grid-column-start: var(--grid-cs);
  }
  r-grid > r-cell[span-d*='-'],
  r-grid > r-cell[span-d*='..'] {
    grid-column-end: var(--grid-ce);
  }
  r-grid > r-cell[span-d='row'] {
    grid-column: 1 / -1;
  }
}
