@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Inter.var.woff2?v=3.19') format('woff2');
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  .post-body > * {
    margin-bottom: 2rem;
    scroll-margin-top: 2rem;
  }

  .post-body pre {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .post-body pre[class*="language-"]::-webkit-scrollbar {
    display: none;
  }

  .claps-fixed .claps-body {
    filter: drop-shadow(0 4px 8px rgb(0 0 0 / 14%)) drop-shadow(0 1px 2px rgb(0 0 0 / 6%));
  }
}

@layer components {
  .c-small {
    @apply max-w-screen-sm mx-auto px-6;
  }

  .c-large {
    @apply max-w-screen-xl mx-auto px-6;
  }
}
