@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/Inter-roman.var.woff2?v=3.15') format('woff2');
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .c-small {
    @apply max-w-screen-sm mx-auto px-4;
  }

  .c-large {
    @apply max-w-screen-xl mx-auto px-4;
  }

  .text-highlight {
    @apply text-zinc-900
    dark:text-zinc-50;
  }
}
