code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  font-size: 0.9em;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::-moz-selection,
code[class*="language-"] *::-moz-selection,
pre[class*="language-"] *::-moz-selection {
  color: inherit;
}

code[class*="language-"]::selection,
code[class*="language-"] *::selection,
pre[class*="language-"] *::selection {
  color: inherit;
}

pre[class*="language-"]::-webkit-scrollbar {
  display: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

/* DARK ------------------------------------------ */
.dark code[class*="language-"],
.dark pre[class*="language-"] {
  background: hsl(0, 0%, 14%);
  color: hsl(0, 0%, 86%);
}

.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
  color: hsl(220, 10%, 40%);
}

.dark .token.doctype,
.dark .token.punctuation,
.dark .token.entity {
  color: hsl(220, 14%, 71%);
}

.dark .token.attr-name,
.dark .token.class-name,
.dark .token.boolean,
.dark .token.constant,
.dark .token.number,
.dark .token.atrule {
  color: hsl(29, 54%, 61%);
}

.dark .token.keyword {
  color: hsl(286, 60%, 67%);
}

.dark .token.property,
.dark .token.tag,
.dark .token.symbol,
.dark .token.deleted,
.dark .token.important {
  color: hsl(355, 65%, 65%);
}

.dark .token.selector,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted,
.dark .token.regex,
.dark .token.attr-value,
.dark .token.attr-value > .token.punctuation {
  color: hsl(95, 38%, 62%);
}

.dark .token.variable,
.dark .token.operator,
.dark .token.function {
  color: hsl(207, 82%, 66%);
}

.dark .token.url {
  color: hsl(187, 47%, 55%);
}

/* HTML overrides */
.dark .token.attr-value > .token.punctuation.attr-equals,
.dark .token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(220, 14%, 71%);
}

/* CSS overrides */
.dark .language-css .token.selector {
  color: hsl(355, 65%, 65%);
}

.dark .language-css .token.property {
  color: hsl(220, 14%, 71%);
}

.dark .language-css .token.function,
.dark .language-css .token.url > .token.function {
  color: hsl(187, 47%, 55%);
}

.dark .language-css .token.url > .token.string.url {
  color: hsl(95, 38%, 62%);
}

.dark .language-css .token.important,
.dark .language-css .token.atrule .token.rule {
  color: hsl(286, 60%, 67%);
}

/* JS overrides */
.dark .language-javascript .token.operator {
  color: hsl(286, 60%, 67%);
}

.dark
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: hsl(5, 48%, 51%);
}

/* JSON overrides */
.dark .language-json .token.operator {
  color: hsl(220, 14%, 71%);
}

.dark .language-json .token.null.keyword {
  color: hsl(29, 54%, 61%);
}

/* MD overrides */
.dark .language-markdown .token.url,
.dark .language-markdown .token.url > .token.operator,
.dark .language-markdown .token.url-reference.url > .token.string {
  color: hsl(220, 14%, 71%);
}

.dark .language-markdown .token.url > .token.content {
  color: hsl(207, 82%, 66%);
}

.dark .language-markdown .token.url > .token.url,
.dark .language-markdown .token.url-reference.url {
  color: hsl(187, 47%, 55%);
}

.dark .language-markdown .token.blockquote.punctuation,
.dark .language-markdown .token.hr.punctuation {
  color: hsl(220, 10%, 40%);
  font-style: italic;
}

.dark .language-markdown .token.code-snippet {
  color: hsl(95, 38%, 62%);
}

.dark .language-markdown .token.bold .token.content {
  color: hsl(29, 54%, 61%);
}

.dark .language-markdown .token.italic .token.content {
  color: hsl(286, 60%, 67%);
}

.dark .language-markdown .token.strike .token.content,
.dark .language-markdown .token.strike .token.punctuation,
.dark .language-markdown .token.list.punctuation,
.dark .language-markdown .token.title.important > .token.punctuation {
  color: hsl(355, 65%, 65%);
}

/* General */
.dark .token.bold {
  font-weight: bold;
}

.dark .token.comment,
.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}

.dark .token.namespace {
  opacity: 0.8;
}

/* LIGHT ------------------------------------------ */

code[class*="language-"],
pre[class*="language-"] {
  background: hsl(230, 1%, 98%);
  color: hsl(230, 8%, 24%);
}

.token.comment,
.token.prolog,
.token.cdata {
  color: hsl(230, 4%, 64%);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: hsl(230, 8%, 24%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: hsl(35, 99%, 36%);
}

.token.keyword {
  color: hsl(301, 63%, 40%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: hsl(5, 74%, 59%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: hsl(119, 34%, 47%);
}

.token.variable,
.token.operator,
.token.function {
  color: hsl(221, 87%, 60%);
}

.token.url {
  color: hsl(198, 99%, 37%);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.language-css .token.selector {
  color: hsl(5, 74%, 59%);
}

.language-css .token.property {
  color: hsl(230, 8%, 24%);
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: hsl(198, 99%, 37%);
}

.language-css .token.url > .token.string.url {
  color: hsl(119, 34%, 47%);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: hsl(301, 63%, 40%);
}

/* JS overrides */
.language-javascript .token.operator {
  color: hsl(301, 63%, 40%);
}

.language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.language-json .token.operator {
  color: hsl(230, 8%, 24%);
}

.language-json .token.null.keyword {
  color: hsl(35, 99%, 36%);
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: hsl(230, 8%, 24%);
}

.language-markdown .token.url > .token.content {
  color: hsl(221, 87%, 60%);
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: hsl(198, 99%, 37%);
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: hsl(230, 4%, 64%);
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: hsl(119, 34%, 47%);
}

.language-markdown .token.bold .token.content {
  color: hsl(35, 99%, 36%);
}

.language-markdown .token.italic .token.content {
  color: hsl(301, 63%, 40%);
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: hsl(5, 74%, 59%);
}

/* General */
.token.bold {
  font-weight: bold;
}

.token.comment,
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.namespace {
  opacity: 0.8;
}
