
code[class*="language-"],
pre[class*="language-"] {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  font-size: .9em;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-webkit-scrollbar {
  display: none
}


/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}


/**
 * One Dark theme for prism.js
 * Based on Atom's One Dark theme: https://github.com/atom/atom/tree/master/packages/one-dark-syntax
 */

/**
 * One Dark colours (accurate as of commit 8ae45ca on 6 Sep 2018)
 * From colors.less
 * --mono-1: hsl(220, 14%, 71%);
 * --mono-2: hsl(220, 9%, 55%);
 * --mono-3: hsl(220, 10%, 40%);
 * --hue-1: hsl(187, 47%, 55%);
 * --hue-2: hsl(207, 82%, 66%);
 * --hue-3: hsl(286, 60%, 67%);
 * --hue-4: hsl(95, 38%, 62%);
 * --hue-5: hsl(355, 65%, 65%);
 * --hue-5-2: hsl(5, 48%, 51%);
 * --hue-6: hsl(29, 54%, 61%);
 * --hue-6-2: hsl(39, 67%, 69%);
 * --syntax-fg: hsl(220, 14%, 71%);
 * --syntax-bg: hsl(220, 13%, 18%);
 * --syntax-gutter: hsl(220, 14%, 45%);
 * --syntax-guide: hsla(220, 14%, 71%, 0.15);
 * --syntax-accent: hsl(220, 100%, 66%);
 * From syntax-variables.less
 * --syntax-selection-color: hsl(220, 13%, 28%);
 * --syntax-gutter-background-color-selected: hsl(220, 13%, 26%);
 * --syntax-cursor-line: hsla(220, 100%, 80%, 0.04);
 */

.dark :not(pre) > code[class*=language-],
.dark pre[class*=language-] {
  background-color: rgb(255 255 255 / 4%);
}

.dark code[class*="language-"],
.dark pre[class*="language-"] {
  color: rgb(255 255 255 / 90%);
}

/* Selection */
.dark code[class*="language-"]::-moz-selection,
.dark code[class*="language-"] *::-moz-selection,
.dark pre[class*="language-"] *::-moz-selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
}

.dark code[class*="language-"]::selection,
.dark code[class*="language-"] *::selection,
.dark pre[class*="language-"] *::selection {
  background: hsl(220, 13%, 28%);
  color: inherit;
}


.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
  color: hsl(220, 10%, 40%);
}

.dark .token.doctype,
.dark .token.punctuation,
.dark .token.entity {
  color: hsl(220, 14%, 71%);
}

.dark .token.attr-name,
.dark .token.class-name,
.dark .token.boolean,
.dark .token.constant,
.dark .token.number,
.dark .token.atrule {
  color: hsl(29, 54%, 61%);
}

.dark .token.keyword {
  color: hsl(286, 60%, 67%);
}

.dark .token.property,
.dark .token.tag,
.dark .token.symbol,
.dark .token.deleted,
.dark .token.important {
  color: hsl(355, 65%, 65%);
}

.dark .token.selector,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted,
.dark .token.regex,
.dark .token.attr-value,
.dark .token.attr-value > .token.punctuation {
  color: hsl(95, 38%, 62%);
}

.dark .token.variable,
.dark .token.operator,
.dark .token.function {
  color: hsl(207, 82%, 66%);
}

.dark .token.url {
  color: hsl(187, 47%, 55%);
}

/* HTML overrides */
.dark .token.attr-value > .token.punctuation.attr-equals,
.dark .token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(220, 14%, 71%);
}

/* CSS overrides */
.dark .language-css .token.selector {
  color: hsl(355, 65%, 65%);
}

.dark .language-css .token.property {
  color: hsl(220, 14%, 71%);
}

.dark .language-css .token.function,
.dark .language-css .token.url > .token.function {
  color: hsl(187, 47%, 55%);
}

.dark .language-css .token.url > .token.string.url {
  color: hsl(95, 38%, 62%);
}

.dark .language-css .token.important,
.dark .language-css .token.atrule .token.rule {
  color: hsl(286, 60%, 67%);
}

/* JS overrides */
.dark .language-javascript .token.operator {
  color: hsl(286, 60%, 67%);
}

.dark .language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
  color: hsl(5, 48%, 51%);
}

/* JSON overrides */
.dark .language-json .token.operator {
  color: hsl(220, 14%, 71%);
}

.dark .language-json .token.null.keyword {
  color: hsl(29, 54%, 61%);
}

/* MD overrides */
.dark .language-markdown .token.url,
.dark .language-markdown .token.url > .token.operator,
.dark .language-markdown .token.url-reference.url > .token.string {
  color: hsl(220, 14%, 71%);
}

.dark .language-markdown .token.url > .token.content {
  color: hsl(207, 82%, 66%);
}

.dark .language-markdown .token.url > .token.url,
.dark .language-markdown .token.url-reference.url {
  color: hsl(187, 47%, 55%);
}

.dark .language-markdown .token.blockquote.punctuation,
.dark .language-markdown .token.hr.punctuation {
  color: hsl(220, 10%, 40%);
  font-style: italic;
}

.dark .language-markdown .token.code-snippet {
  color: hsl(95, 38%, 62%);
}

.dark .language-markdown .token.bold .token.content {
  color: hsl(29, 54%, 61%);
}

.dark .language-markdown .token.italic .token.content {
  color: hsl(286, 60%, 67%);
}

.dark .language-markdown .token.strike .token.content,
.dark .language-markdown .token.strike .token.punctuation,
.dark .language-markdown .token.list.punctuation,
.dark .language-markdown .token.title.important > .token.punctuation {
  color: hsl(355, 65%, 65%);
}

/* General */
.dark .token.bold {
  font-weight: bold;
}

.dark .token.comment,
.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}

.dark .token.namespace {
  opacity: 0.8;
}


/**
 * One Light theme for prism.js
 * Based on Atom's One Light theme: https://github.com/atom/atom/tree/master/packages/one-light-syntax
 */

/**
 * One Light colours (accurate as of commit eb064bf on 19 Feb 2021)
 * From colors.less
 * --mono-1: hsl(230, 8%, 24%);
 * --mono-2: hsl(230, 6%, 44%);
 * --mono-3: hsl(230, 4%, 64%)
 * --hue-1: hsl(198, 99%, 37%);
 * --hue-2: hsl(221, 87%, 60%);
 * --hue-3: hsl(301, 63%, 40%);
 * --hue-4: hsl(119, 34%, 47%);
 * --hue-5: hsl(5, 74%, 59%);
 * --hue-5-2: hsl(344, 84%, 43%);
 * --hue-6: hsl(35, 99%, 36%);
 * --hue-6-2: hsl(35, 99%, 40%);
 * --syntax-fg: hsl(230, 8%, 24%);
 * --syntax-bg: hsl(230, 1%, 98%);
 * --syntax-gutter: hsl(230, 1%, 62%);
 * --syntax-guide: hsla(230, 8%, 24%, 0.2);
 * --syntax-accent: hsl(230, 100%, 66%);
 * From syntax-variables.less
 * --syntax-selection-color: hsl(230, 1%, 90%);
 * --syntax-gutter-background-color-selected: hsl(230, 1%, 90%);
 * --syntax-cursor-line: hsla(230, 8%, 24%, 0.05);
 */

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: rgb(0 0 0 / 4%);
}

code[class*="language-"],
pre[class*="language-"] {
  color: rgb(0 0 0 / 90%);
}

/* Selection */
code[class*="language-"]::-moz-selection,
code[class*="language-"] *::-moz-selection,
pre[class*="language-"] *::-moz-selection {
  background: hsl(230, 1%, 90%);
}

code[class*="language-"]::selection,
code[class*="language-"] *::selection,
pre[class*="language-"] *::selection {
  background: hsl(230, 1%, 90%);
}


.token.comment,
.token.prolog,
.token.cdata {
  color: hsl(230, 4%, 64%);
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: hsl(230, 8%, 24%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: hsl(35, 99%, 36%);
}

.token.keyword {
  color: hsl(301, 63%, 40%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: hsl(5, 74%, 59%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: hsl(119, 34%, 47%);
}

.token.variable,
.token.operator,
.token.function {
  color: hsl(221, 87%, 60%);
}

.token.url {
  color: hsl(198, 99%, 37%);
}

/* HTML overrides */
.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.language-css .token.selector {
  color: hsl(5, 74%, 59%);
}

.language-css .token.property {
  color: hsl(230, 8%, 24%);
}

.language-css .token.function,
.language-css .token.url > .token.function {
  color: hsl(198, 99%, 37%);
}

.language-css .token.url > .token.string.url {
  color: hsl(119, 34%, 47%);
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: hsl(301, 63%, 40%);
}

/* JS overrides */
.language-javascript .token.operator {
  color: hsl(301, 63%, 40%);
}

.language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
  color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.language-json .token.operator {
  color: hsl(230, 8%, 24%);
}

.language-json .token.null.keyword {
  color: hsl(35, 99%, 36%);
}

/* MD overrides */
.language-markdown .token.url,
.language-markdown .token.url > .token.operator,
.language-markdown .token.url-reference.url > .token.string {
  color: hsl(230, 8%, 24%);
}

.language-markdown .token.url > .token.content {
  color: hsl(221, 87%, 60%);
}

.language-markdown .token.url > .token.url,
.language-markdown .token.url-reference.url {
  color: hsl(198, 99%, 37%);
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: hsl(230, 4%, 64%);
  font-style: italic;
}

.language-markdown .token.code-snippet {
  color: hsl(119, 34%, 47%);
}

.language-markdown .token.bold .token.content {
  color: hsl(35, 99%, 36%);
}

.language-markdown .token.italic .token.content {
  color: hsl(301, 63%, 40%);
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important > .token.punctuation {
  color: hsl(5, 74%, 59%);
}
