html {
  color: $color-text;
  background-color: $color-purple;
}

::selection {
  color: white;
  text-shadow: 0 1px 1px rgba(black, .4);
  background-color: $color-cyan;
}

img.icon {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}

a, button {
  transition: $transition;
}

svg {
  fill: currentColor;
}

.section {

  &-title {
    margin-bottom: 50px;
  }

  &-more {
    display: block;
    margin-top: $offset-grid;
    padding: 1em;
    font-size: $font-text-size-small;
    color: $color-text-light;
    background-color: $color-hide;
    @include breakpoints("md") {
      margin-top: $offset;
    }

    &:hover {
      color: white;
      background-color: $color-text-light;
    }
  }
}

